doctype html

html(lang="en")
  head
    title text based scratch
    script(src="js/index.js")
    link(rel="stylesheet", href="css/index.css")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")
  body
    nav
      a.option(href="javascript:void(0)" tabindex="1") File
      a.option(href="javascript:void(0)" tabindex="2") Edit 
      .divider
      input.title(type="text", value="Untitled Project", tabindex="3")
      input.load-file(type="file", name="load-file", accept=".sb3")
    main 
      .left
        ul.tabs
          li.tab.active
            img(src="assets/code-icon.svg", alt="Code Icon" draggable="false")
            span Code
        .editor
          .files
          .contenteditable(contenteditable="true")
            br
          .text-editor(tabindex="4")
            .caret.animation
            pre.text
      .right
        include includes/player.pug
        .sprite-pane
          .sprite-selector 
          .stage-selector
            .sprite-pane-header.stage-header
              span Stage